<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fb2ePubGui.FB2EpubSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fb2ePubGui.FB2EpubSettings>
            <setting name="Transliterate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransliterateFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FB2Info" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AddSequences" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransliterateTOC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlatStructure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertAlphaPNG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedStyles" serializeAs="String">
                <value>False</value>
            </setting>
      <setting name="Fonts" serializeAs="Xml">
        <value>
          <Fonts xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Font generic_family="" style="normal" font-variant="" font-weight="normal">
              <Destinations type="Embedded">
                <Path>%ResourceFolder%\Fonts/LiberationSerif-Regular.ttf</Path>
              </Destinations>
              <decorate>true</decorate>
              <CSSTargets>body</CSSTargets>
              <CSSTargets>.epub</CSSTargets>
            </Font>
            <Font generic_family="" style="italic" font-variant="" font-weight="normal">
              <Destinations type="Embedded">
                <Path>%ResourceFolder%\Fonts/LiberationSerif-Italic.ttf</Path>
              </Destinations>
              <decorate>true</decorate>
              <CSSTargets>body</CSSTargets>
              <CSSTargets>.epub</CSSTargets>
            </Font>
            <Font generic_family="" style="normal" font-variant="" font-weight="bold">
              <Destinations type="Embedded">
                <Path>%ResourceFolder%\Fonts/LiberationSerif-Bold.ttf</Path>
              </Destinations>
              <decorate>true</decorate>
              <CSSTargets>body</CSSTargets>
              <CSSTargets>.epub</CSSTargets>
            </Font>
            <Font generic_family="" style="italic" font-variant="" font-weight="bold">
              <Destinations type="Embedded">
                <Path>%ResourceFolder%\Fonts/LiberationSerif-BoldItalic.ttf</Path>
              </Destinations>
              <decorate>true</decorate>
              <CSSTargets>body</CSSTargets>
              <CSSTargets>.epub</CSSTargets>
            </Font>		
            <Font generic_family="" style="italic" font-variant="" font-weight="">
              <Destinations type="Embedded">
                <Path>%ResourceFolder%\Fonts/LiberationSerif-Italic.ttf</Path>
              </Destinations>
              <decorate>true</decorate>
              <CSSTargets>code</CSSTargets>
            </Font>
          </Fonts>
        </value>
      </setting>			
        </Fb2ePubGui.FB2EpubSettings>
    </userSettings>
</configuration>