<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fb2epubSettings.Fb2Epub" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fb2epubSettings.Fb2Epub>
            <setting name="Transliterate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransliterateFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FB2Info" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AddSequences" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransliterateTOC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlatStructure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertAlphaPNG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedStyles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SequenceFormat" serializeAs="String">
                <value>%bt% %sa.l%-%sn%</value>
            </setting>
            <setting name="NoSequenceFormat" serializeAs="String">
                <value>%bt% (%sf.l%)</value>
            </setting>
            <setting name="NoSeriesFormat" serializeAs="String">
                <value>%bt%</value>
            </setting>
            <setting name="AuthorFormat" serializeAs="String">
                <value>%f.c%%m.c%%l.c%%n.c:b%</value>
            </setting>
            <setting name="FileAsFormat" serializeAs="String">
                <value>%l.c%f.c</value>
            </setting>
            <setting name="Capitalize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipAboutPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAdobeTemplate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdobeTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Fonts" serializeAs="Xml">
                <value>
                    <FontSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <FontFamily name="Fonts_97c90146-e42b-47a4-ac20-da6427fe9b9f">
                            <Font style="normal" variant="normal" width="400" stretch="normal">
                                <Source type="Embedded" format="">
                                    <Location>%ResourceFolder%\Fonts/LiberationSerif-Regular.ttf</Location>
                                </Source>
                            </Font>
                            <Font style="italic" variant="normal" width="400" stretch="normal">
                                <Source type="Embedded" format="">
                                    <Location>%ResourceFolder%\Fonts/LiberationSerif-Italic.ttf</Location>
                                </Source>
                            </Font>
                            <Font style="normal" variant="normal" width="700" stretch="normal">
                                <Source type="Embedded" format="">
                                    <Location>%ResourceFolder%\Fonts/LiberationSerif-Bold.ttf</Location>
                                </Source>
                            </Font>
                            <Font style="italic" variant="normal" width="700" stretch="normal">
                                <Source type="Embedded" format="">
                                    <Location>%ResourceFolder%\Fonts/LiberationSerif-BoldItalic.ttf</Location>
                                </Source>
                            </Font>
                        </FontFamily>
                        <CSSElement name="body" class="">
                            <Font>Fonts_97c90146-e42b-47a4-ac20-da6427fe9b9f</Font>
                        </CSSElement>
                        <CSSElement name="code" class="">
                            <Font>Fonts_97c90146-e42b-47a4-ac20-da6427fe9b9f</Font>
                        </CSSElement>
                        <CSSElement name="" class="epub">
                            <Font>Fonts_97c90146-e42b-47a4-ac20-da6427fe9b9f</Font>
                        </CSSElement>
                    </FontSettings>
                </value>
            </setting>
            <setting name="DecorateFontNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreTitle" serializeAs="String">
                <value>0</value>
            </setting>
        </Fb2epubSettings.Fb2Epub>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
